<app-menu></app-menu>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Page</title>
    <link rel="stylesheet" href="about.component.css">
</head>
<body>
    <div class="about-section">
        <div class="inner-container">
            <h1>About Us</h1>
            <p class="text">
                We are a very serious comunity. We care about nature, our environment, using natural resources, 
                the people who work with us and society in general.  
                In this brand we are aware of our social and environmental responsibility. Our duty is to recognize those responsibilities in social, environmental and economic matters
                to ensure an optimal quality of life for both current and future generations.
            </p>
            <div class="skills">
                <span>How to reycle</span>
                <span>Recyclable materials</span>
                <span>Recycling centers</span>
            </div>
        </div>
    </div>
</body>
</html>