<!doctype HTML>
<html lang="en">
    <head>
        <meta  charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
        <title>How To Recycle</title>
        <link rel = "stylesheet" type = "text/css" href = "how-to-recycle.component.css" />
    </head>
    <body>
        <app-menu></app-menu>
        <div class = "wrapper">
                <h2><p class="title" id="title1">Recycling Basics</p></h2>
                <p class="subtitle" id="first_subt">Recycling is easy</p>
        </div>
        <div>
            <h5><p class="title">Know what to throw</p></h5>
            <p class="subtitle">Make sure you’re putting the right materials in your recycling container: paper, cardboard, metal cans, plastic bottles and jugs.</p>  
        </div>
        <div class="max-width">
            <div class="yt-video">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/6O8VvXv-pkk" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
<div id="parentOfMaterials">
    <div class="material">
        <img class="photo" src = "../../assets/paper_photo.jpg" alt="paper">
        <h5 class="title">Paper & Cardboard </h5>
            <p class="paragraph">
                Flattened cardboard, newspaper, magazines, office paper and common mail can be recycled as long as
                 they aren’t contaminated by food, liquid or waste.
            </p>
            <p class="paragraph">
                You cand break down cardboard boxes in order to be able to gather them more easily. 
                It makes them easier to process and leaves more room for other recyclables. </p>
            <p class="paragraph">Paper can’t be recycled if it’s mixed with other materials. Remove the bubble wrap or plastic windows before recycling padded 
                packaging or security envelopes.
            </p>
    </div>
    <div class="material">
        <img class="photo" src = "../../assets/cans.jpeg" alt="metal">
        <h5 class="title">Metal Cans</h5>
            <p class="paragraph">
                Before recycling food and drink cans you must remove paper or plastic labels and clean out any residual materials.
                Some metal cans have an insulated coating that might not be recyclable so pay attention. 
            </p>
            <p class="paragraph"><em>When in doubt, throw it out!</em></p>
            <p class="paragraph">Recyclables don’t need to be thoroughly washed, however they do need to be dry so they don’t contaminate other items.
            </p>
    </div>
    <div class="material">
        <img class="photo" src = "../../assets/plastic_bb.jpeg" alt="plastic">
        <h5 class="title">Plastic objects</h5>
            <p class="paragraph">
                While hard plastic containers like water bottles, milk jugs and detergent containers can go in your container, 
                flexible plastics like grocery bags, bubble wrap and styrofoam require special handling and can’t be recycled curbside.
            </p>
            <p class="paragraph">
                Lids are too small to recycle by themselves, so put them on the containers or throw them away.
                If you can poke your finger through the plastic, it doesn’t belong in your recycling container.
            </p>
    </div>
</div>
        <div class = "wrapper" >
                <p class="subtitle">Food and condiment bottles are great recycling candidates. Just be sure they’re rinsed and dry before you put them in your recycling container.</p>
        </div>
        <div>
            <h5><p class="title">Empty. Clean. Dry.</p></h5>
            <p class="subtitle">How to keep all recyclables free of food and liquid.</p>
        </div>
        <div class="max-width">
            <div class="yt-video">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/e28e6gwtoO4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                </iframe>
            </div>
        </div>
        <div id="parentOfSecondSection">
            <div class="material" id="wet-materials">
                <img class="photo" src = "../../assets/jars.jpeg" alt="paper">
                <h5 class="title"> No Soiled or Wet Materials </h5>
                    <p class="paragraph">
                        One dirty item can contaminate an entire truckload, so make sure recyclables are empty, clean and dry.</p>
                    <p class="paragraph"> 
                        Once cardboard or paper comes into contact with food or liquid, it can no longer be recycled.
                        Never allow more than one teaspoon of liquid to remain in a recyclable.
                    </p>
            </div>
        </div>
    </body>
</html>